


button {
    color: black;
    background-color: rgb(225 169 79);
    border-radius: 10px;
    margin: 40px;
    font-family: Georgia, Arial, sans-serif;
    width: 10em;
    height: 3em;
    
}


button:hover {
    background-color: silver;
    
}


}


.tira {
    color: brown;
    background-color: beige;
}


ol {
    text-align: justify;
}

img {
    height: auto;
    width: auto;
    
}
/* 
.odin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 25%;
} */

img.image-tira {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 25%;
}

/* New Code after learning about flexbox */
/* #main {
    display: flex;
    flex-direction: column;
   
} */

/* Main page items */
main {
    display: flex;
    margin: 0;
}
.main-header {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #e6e6e654;
    
}

h1.header {
    color: rgb(225 169 79);
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, san-serif;


}

.odin-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px;
}

.odin {
    width: 400px;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    
}


/* Salmon page items */
header {
    display: flex;
    justify-content: center;
}
header.salmon {
    color: salmon;
    background-color: rgb(232, 231, 231);

}

.salmon-img {
    display: flex;
    justify-content: center;
}

img .salmon {
    height: auto;
    width: 20em;
}

.salmon-cards {
    display: flex;
}

div.card {
    flex: 1;
    margin: 16px;
  
}

.salmon-sub {
    display: flex;
    justify-content: center;
    color: salmon;
    background-color: rgb(232, 231, 231);
    margin-top: 0;
}

ul {
    list-style: square;
    line-height: 200%;
}

ol {
    line-height: 200%;
}

.salmon button {
    background-color: rgb(232, 231, 231);
}

.salmon button:hover {
    background-color: salmon;
}

/* Arroz page items */

header.arroz {
    color: green;
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}

.arroz-img {
    display: flex;
    justify-content: center;
}

img .arroz {
    height: auto;
    width: 20em;
}

.arroz-cards {
    display: flex;
}

.arroz-sub {
    display: flex;
    justify-content: center;
    color: green;
    background-color: orange;
    margin-top: 0;
}

.quote {
    display: flex;
    justify-content: center;
}

.arroz button {
    background-color: orange;
}

.arroz button:hover {
    background-color: green;
}

/* Tiramisu page items */

header.tira {
    color: brown;
    background-color: mintcream;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tira-img {
    display: flex;
    justify-content: center;
}

img .tira {
    height: auto;
    width: 20em;
}

.tira-cards {
    display: flex;
}

.tira-sub {
    display: flex;
    justify-content: center;
    color: brown;
    background-color: mintcream;
    margin-top: 0;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    
}

.tira button {
    background-color: mintcream;
}

.tira button:hover {
    background-color: brown;
}