


button {
    color: black;
    background-color: rgb(225 169 79);
    border-radius: 10px;
    margin: 40px;
   
}


button:hover {
    background-color: silver;
    
}
a:visited {
    color:black;
    text-decoration: none;
}



.arroz {
    color: green;
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}


.tira {
    color: brown;
    background-color: beige;
}

ul {
    list-style-type: none;
}
ol {
    text-align: justify;
}

img {
    height: auto;
    width: auto;
    
}
/* 
.odin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 25%;
} */

img.image-tira {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 25%;
}

/* New Code after learning about flexbox */
/* #main {
    display: flex;
    flex-direction: column;
   
} */

.main-header {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #e6e6e654;
    
}

h1.header {
    color: rgb(225 169 79);
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, san-serif;


}

.odin-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px;
}

.odin {
    width: 400px;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;

}

a {
    text-decoration: none;
    
}

header.salmon {
    color: salmon;
    background-color: rgb(232, 231, 231);
    display: flex;
    justify-content: center;
}

.salmon-img {
    display: flex;
    justify-content: center;
}

.salmon-card {
    display: flex;
}

div.card {
    flex: 1;
    margin: 16px;
  
}

.card .sub {
    display: flex;
    justify-content: center;
    color: salmon;
    background-color: rgb(232, 231, 231);
}

/* Move description to be under the image and have ingredients and steps stacked on top of each other */